<dialog class="modal-overlay modal-login modal-dark" id="right">
    <a href="#" class="modal-close">Close</a>
    {% if is_granted('ROLE_USER') %}
        {% set person = session.get('person') %}

        {% if is_granted('ROLE_ADMIN') %}
            <a href="/article" class="btn btn-blue btn-block">Artkuły</a>
            <a href="/structure" class="btn btn-blue btn-block">Pliki strukturalne</a>
            <a href="/user" class="btn btn-blue btn-block">Użytkownicy</a>
            <a href="/image" class="btn btn-blue btn-block">Zdjęcia</a>
            <a href="/animal" class="btn btn-blue btn-block">Zwierzęta</a>
        {% elseif is_granted('ROLE_EDITOR') %}
            <a href="/article" class="btn btn-blue btn-block">Artkuły</a>
            <a href="/image" class="btn btn-blue btn-block">Zdjęcia</a>
            <a href="/animal" class="btn btn-blue btn-block">Zwierzęta</a>
        {% else %}
            <p>Nie posiadasz uprawnień! Skotaktuj się z administratorem strony.</p>
        {% endif %}

        <a href="/login/logout" class="btn btn-orange btn-block">Wyloguj się</a>
        <div class="icon icon-model icon-link">
            <a class="icon-link icon-facebook" href="https://facebook.com/FundacjaZwierzetaNiczyje/?ref=m_notif&notif_t=group_highlights"
                target="_blank" class="social-icon">
                <i class="facebook"></i>
            </a>
            <a class="icon-link icon-instagram" href="https://instagram.com/fundacja_zwierzeta_niczyje?utm_source=ig_profile_share&igshid=1joz9gcb9eiem"
                target="_blank" class="social-icon">
                <i class="instagram"></i>
            </a>
        </div>
    {% else %}
        <div class="form form-login">
            <i class="fas fa-users icon-users"></i>
            <h2 class="modal-title">Sing In</h2>
            
            <form method="post" class="form form-signin" id="form-login" action="{{ path('app_login') }}">
                {% if error is defined %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <div class="form-group form-other">
                    <input type="text" name="email" id="login" class="form-control" placeholder="Login" minlength="2" value="{{ last_username|default }}" required />
                    <label for="login"><i class="login"></i> Login</label>
                    <div class="form-faulty">Login składa się przynajmniej z 3 znaków</div>
                </div>
                
                <div class="form-group form-other">
                    <input type="password" name="password" id="pass" class="form-control" placeholder="Hasło"  required />
                    <label for="pass"><i class="key"></i> Hasło</label>
                    <div class="form-faulty"></div>
                </div>

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Zapamietaj mnie
                    </label>
                </div>
                
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <button class="btn btn-outline-secondary" type="submit" value="Zaloguj się" />Zaloguj się</button>
            </form>
            <div class="form-invalid"></div>       
        </div>
    {% endif %}
</dialog>