<div class="modal fade" id="form-login" tabindex="-1" role="dialog" aria-labelledby="loginLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Zaloguj się</h5>
                <button type="button" class="close modal-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form form-signin" method="post" action="{{ path('app_login') }}">
                    {% if error is defined %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <div class="form-group form-other">
                        <input type="email" value="{{ last_username|default }}" name="email" id="inputEmail" class="form-control"
                        required>
                        <label for="inputEmail" class="label">Email</label>
                    </div>

                    <div class="form-group form-other">
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                        <label for="inputPassword" class="label">Hasło</label>
                    </div>
                    
                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" name="_remember_me"> Zapamietaj mnie
                        </label>
                    </div>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}

                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Zamknij</button>
                        <button type="submit" class="btn btn-outline-secondary">Zaloguj się</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

