{% extends "base.html.twig" %}

{% block body %}
    <div class="content"> 
        <!-- <div class="content"> -->
        {% include "inc/sidebar.html.twig" %}
        
        <div class="{% block content_class %}show-article-container wrapper{% endblock %}">
            {% block content_body %}{% endblock %}
        </div>
    </div>
{% endblock body %}