{% extends 'base.html.twig' %}

{% block body %}
    {% include "inc/slider.html.twig" %}

    <a href="/#last" id="arrow-down">
        <i class="fas fa-angle-double-down angle-double-down"></i>
    </a>

    <div class='home'>
        <div class="home-container">
            {% include "home/last.html.twig" %}
            {% include "home/about.html.twig" %}
            {% include "home/volunteering.html.twig" %}
            {% include "home/transfer.html.twig" %}      
        </div>   
    </div> 
{% endblock %}

{% block stylesheets %}
{{ parent() }}

{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block javascripts %}
{{ parent() }}

{{ encore_entry_script_tags('home') }}
{% endblock %}