<div class="home-sction home-transfer" id="transfer">
    <div class="grid grid-transfer">

        <h5 class="content-title home-title">Wspiercie Fundacji</h5>
        <div class="home-transfer__container">

            <div class="home-transfer__content home-transfer__content--5">
                <p>Zamiast na lizaka, oddam na gryzaka.</p>
                <img src="/build/images/icon/five.971e5407.jpg" alt="Avatar" class="home-transfer__image">
    
                <div class="home-transfer__middle">
                    <div class="home-transfer__text">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="ZGUF7AU38U7M8">
                            <input type="submit" class="btn btn-blue" value="WSPIERAM" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="home-transfer__content home-transfer__content--10">
                <p>Grosik leci, miska pustką już nie świeci.</p>
                <img src="/build/images/icon/ten.503aae17.jpg" alt="Avatar" class="home-transfer__image">
    
                <div class="home-transfer__middle">
                    <div class="home-transfer__text">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="5RH7CSPREWSZG">
                            <input type="submit" class="btn btn-blue" value="WSPIERAM" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="home-transfer__content home-transfer__content--30">
    
                <p>Nie mam wiele, ale się podzielę.</p>
                <img src="/build/images/icon/thirty.c8aa46a1.jpg" alt="Avatar" class="home-transfer__image">
    
                <div class="home-transfer__middle">
                    <div class="home-transfer__text">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="ZHGXQ2CREU5SG">
                            <input type="submit" class="btn btn-blue" value="WSPIERAM" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="home-transfer__content home-transfer__content--50">
                <p>Choć nie mogę w domu mieć,<br>grosik oddać miła rzecz.</p>
                <img src="/build/images/icon/fifty.3cdfccf8.jpg" alt="Avatar" class="home-transfer__image">
    
                <div class="home-transfer__middle">
                    <div class="home-transfer__text">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="NEGVVDVH5ANDQ">
                            <input type="submit" class="btn btn-blue" value="WSPIERAM" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="home-transfer__content home-transfer__content--100">
                <p>Wpłacam na zwierzę w dobrej wierze.</p>
                <img src="/build/images/icon/hundred.a1043869.jpg" alt="Avatar" class="home-transfer__image">
    
                <div class="home-transfer__middle">
                    <div class="home-transfer__text">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="C7RSJ59C2KR3Y">
                            <input type="submit" class="btn btn-blue" value="WSPIERAM" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="home-transfer__content home-transfer__content--any">
                <p>Wirtualna adopcja to fajna opcja.</p>
                <img src="/build/images/icon/any-amount.9ef1a0a5.jpg" alt="Avatar" class="home-transfer__image">
    
                <div class="home-transfer__middle">
                    <div class="home-transfer__text">
                        <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="QC7MWE9LDGW4Y">
                            <input type="submit" class="btn btn-blue" value="WSPIERAM" name="submit">
                            <img alt="" border="0" src="https://www.paypalobjects.com/pl_PL/i/scr/pixel.gif" width="1"
                                height="1">
                        </form>
                    </div>
                </div>
            </div>
            <div class="home-transfer__content home-transfer__content--ratujemyzwierzaki">
                <p><b>Nasze zbiórki</b></p>
                <a href="https://www.ratujemyzwierzaki.pl/fzn?fbclid=IwAR19b9MdbjYodLV8Z_Ck_kNEGxGmrSRz0Fn75lklQAiQYzsqA2k4j_MOdbI"
                    target="_blank" class="icon icon-link">
                    <img class="icon-ratujemyzwierzaki" src="/build/images/logo/ratujemyzwierzaki_logo.ec7e8e3c.svg">
                </a>
            </div>
        </div>
    </div>
</div>