<div class="home-sction home-volunteering" id='volunteering'>
    <div class="grid grid-volunteering">
        <h1 class="content-title home-title">Dlaczego warto?</h1>
        <h1 class="home-volunteering__text-volunteer content-title">Wolontariat</h1>
        <div class="home-volunteering__text home-volunteering__text-w">
            <div class="first-letter">W <span class="and-next-text">jak wynagrodzenie</span></div>
            <p>Gwarantujemy, że gdy przytuli się do Ciebie bity pies/ kot po wypadku, będziesz miał/a łzy w oczach
                i stwierdzisz, że to uczucie warte wszystkich pieniędzy świata.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-o">
            <div class="first-letter">O <span class="and-next-text">jak obowiązek</span></div>
            <p> Wolontariat uczy obowiązkowości. Nie można być wolontariuszem tylko jak ma się czas w jedną sobotę, o
                ile jest ciepło i są wakacje. Zwierzęta są głodne, potrzebują człowieka i nie rozumieją, że ktoś ma
                wolne od szkoły, czy
                pracy.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-l">
            <div class="first-letter">L <span class="and-next-text"> jak ludzie</span></div>
            <p>Poznasz wielu nowych ludzi z pasją. Wśród wielu wolontariuszy rodzą się prawdziwe przyjaźnie.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-op">
            <div class="first-letter">O <span class="and-next-text"> jak optymizm</span></div>
            <p> Przebywanie z taką liczbą zwierzaków poprawia humor. Poczucie, że zrobiło się coś dobrego, też wpływa
                pozytywnie na samopoczucie. Testowane na ludziach!</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-n">
            <div class="first-letter">N <span class="and-next-text"> jak nowości</span></div>
            <p>Każdy dzień w Fundacji przynosi coś nowego. I nie mowy tu tylko o kolejnych bezdomnych zwierzętach, ale
                też pomysłach na happeningi, wydarzenia, spotkania.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-t">
            <div class="first-letter">T <span class="and-next-text"> jak talent</span></div>
            <p>W trakcie wolontariatu odkryjesz ich całe mnóstwo. Plakaty, bazarki, rozmowy, spacery, kreatywne imiona
                dla nowych zwierzaków. Pole do popisu jest całkiem spore.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-a">
            <div class="first-letter">A <span class="and-next-text"> jak ambicja</span></div>
            <p>Bądź człowiekiem, który ma ambicję zmieniać świat na lepsze. Warto zacząć od siebie.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-r">
            <div class="first-letter">R <span class="and-next-text"> jak rodzina</span></div>
            <p>Będziemy twoją drugą Rodziną - pozostali wolontariusze i stado zwierząt, o które będziemy wspólnie dbać.
            </p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-id">
            <div class="first-letter">I <span class="and-next-text"> jak idea</span></div>
            <p>Warto w życiu mieć wartości. Wiemy, że „całego świata nie zbawimy”, ale chcemy by chociaż jego fragment
                stał się lepszy.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-at">
            <div class="first-letter">A <span class="and-next-text"> jak atrakcje</span></div>
            <p> Organizujemy sporo wydarzeń społecznych. Wystawę Psów Nierasowych, Bieg na 4 łapy, zbiórki, loterie,
                happeningi, Dzień Wegetariański. Nie będziesz się nudzić.</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-tr">
            <div class="first-letter">T <span class="and-next-text"> jak trud</span></div>
            <p>Nie zawsze się chce wyjść z domu, nie zawsze ładnie pachnie od zwierząt, nie wszystkie są malutkie,
                puchate i słodziutkie. Nam też. Ale ten trud jest wynagradzany w momencie, gdy zwierzak trafia do nowego
                domu. Wtedy wiemy, że było warto. ;)</p>
        </div>
        <div class="home-volunteering__text home-volunteering__text-tr">
            <div class="first-letter and-next-text">
                <i class="fa fa-hand-holding-heart fa-2x"></i><br>dołącz do nas!
            </div>
        </div>
    </div>
</div>