body {
	margin: 0 !important;
	padding: 0 !important;
	background-color: $mainWhite;
}

.container {
    min-width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 1px 0 0 0!important;
    padding: 0 !important;
}

.error {
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

img {
	max-width: 100%;
	height: auto;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}