body {
    font-family: 'Nunito', sans-serif;
    color: $mainLithCyan;
}

a {
	color: $mainBlue;
    text-decoration: none;
    
    &:hover {
        color: $mainCyan;
        text-decoration: none;
    }
}