{% extends 'base.html.twig' %}

{% block body %}
<article class="other">
    <div class="other-section">
        <div class="other-section__header other-section__header--houses">
            <i class="fas fa-home fa-3x"></i>
            <h2 class="other-section__header--title">Dom Tymczasowy (DT)</h2>
        </div>

        <div class="other-section__body">
            <p class="other-section--text">
                <em>
                    <span class="other-section--text-bold-600">
                        Czym jest dom tymczasowy?
                    </span>
                </em>
            </p>

            <p class="other-section--text-p">
                <span class="other-section--text-bold-400">
                    Wizyta przedadopcyjna to nic innego jak spotkanie z wolontariuszem, w celu poznania nowej rodziny
                    podopiecznego Fundacji
                    Zwierzęta Niczyje. W przypadku kotów uczulamy na zabezpieczenie okien i balkonu, rozmawiamy o
                    zdrowej diecie, w
                    przypadku psów rozmawiamy m.in. o lękach separacyjnych, czystości, spacerach, agresji. Rozwiewamy
                    wszelkie wątpliwości
                    przyszłTo miejsce, gdzie zwierzak przebywa do czasu znalezienia mu nowego domu.
                </span>
            </p>

            <p class="other-section--text">
                <em>
                    <span class="other-section--text-bold-600">
                        Hola! Hola! - krzykniecie. – Przecież Fundacja ma kojce dla psów i kontenery dla kotów. Po co te domy tymczasowe?
                    </span>
                </em>
            </p>

            <p class="other-section--text-p">
                <span class="other-section--text-bold-400">
                    Wyobraźcie sobie weekend pod namiotem. Jakiś lipiec, słoneczko, ciepła woda, odpoczynek od ludzi. Idealnie prawda? A
                    teraz zmieńcie lipiec na listopad. Mniej przyjemnie, prawda? I weekend bez cywilizacji, na długie miesiące lub lata… Tak
                    wygląda życie psa w schronisku: długie lata bez człowieka i cywilizacji, sporadyczne spacery (o ile schronisko prowadzi
                    wolontariat). Człowiek szybko by zwariował. I wierzcie lub nie – psy też wariują, stają się wyobcowane, wyciszone,
                    pogodzone ze swoim losem. Jeszcze gorzej schronisko znoszą koty. Terytorialne zwierzęta wciśnięcie często w jednym
                    pokoju z kilkunastoma innymi kotami.
                </span>
            </p>

            <p class="other-section--text-p">
                <span class="other-section--text-bold-400">
                    Oczywiście żadna Fundacja nie jest w stanie trzymać wszystkich swoich zwierząt w domach tymczasowych, bo ich jest po
                    prostu bardzo mało. Jaka jest główna zaleta domu tymczasowego? To przede wszystkim DOM – ściany, kanapa, człowiek obok,
                    regularne spacery (w przypadku kota), mnóstwo uwagi, uczenie podstawowych komend i czystości.
                </span>
            </p>

            <p class="other-section--text-p">
                <span class="other-section--text-bold-400">
                    Chcesz zostać bohaterem zwierząt? Zostań domem tymczasowym! Czasami trwa to tydzień, czasem kilka miesięcy. Nie zawsze
                    jest łatwo, ale satysfakcja jest ogromna. Potwierdzi to każda tymczasująca osoba, która dostała zdjęcia swojego pupila z
                    nowego domu po kilku miesiącach od adopcji.
                </span>
            </p>
        </div>

        <div class="other-section__footer">
            <p class="other-section--text">
                <span class="other-section--text-bold-400">
                    autor:
                    <i>
                        <span class="other-section--text-bold-600">
                            Karolina
                        </span>
                    </i>
                </span>
            </p>
        </div>
    </div>
</article>
{% endblock %}