{% extends 'base.html.twig' %}

{% block body %}
<article class="other">
    <div class="other-section">
        <div class="other-section__header">
            <h2 class="other-section__header--title">{{ title }}</h2>
            <a href="{{ path('app_other_download_pdf', {name_pdf: name_pdf }) }}" class="other-section__header--title" >pobierz pdf
                <i class="fas fa-file-download"></i>
            </a>

        </div>

        <div class="other-section__body">
            <p class="other-section--text">
                <em>
                    <span class="other-section--text-bold-600">
                        Ankieta adopcyjna
                    </span>
                </em>
            </p>
        
            <p class="other-section--text other-section--text-p">
                <span class="other-section--text-bold-400">
                    Podjąłeś już decyzję? Wypełnij ankietę, najlepiej z całą rodziną! Celem ankiety jest jak najlepsze dobranie zwierzaka do
                    opiekunów.
                </span>
            </p>

            <p class="other-section--text other-section--text-p">
                <span class="other-section--text-bold-400">
                    Jako Fundacja ratujemy zwierzęta, leczymy je i chcemy, by trafiały do jak najlepszych domów. Po to właśnie między innymi
                    wypełniają Państwo ankietę, żebyśmy mogli się czegoś dowiedzieć o Was.
                </span>
            </p>

            <ul class="other-section--list-u other-section--text">
                <em>
                    <span class="other-section--text-bold-600">
                        Na początek trochę zasad:
                    </span>
                </em>
                {% if name_pdf == 'ankieta_kot' %}                 
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            nie akceptujemy kotów samodzielnie wychodzących (spacer jedynie na szelkach), chcemy, by mogli Państwo zagwarantować im
                            bezpieczeństwo,
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            prosimy o zabezpieczenie siatką balkonu (lub nie wypuszczanie kota na niego),
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            nie pozwalamy na to, by kot był wychodzący samodzielnie (spacer jedynie w szelkach bądź wolierze),
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            kot to obligatoryjny mięsożerca, co znaczy, że potrzebuje zdrowej, wysokomięsnej karmy (jeśli porządne puszki są zbyt
                            drogie polecamy barf, wychodzi dużo taniej. Ekonomiczny wybór karmy mokrej to Butchers, Rafi, Poese, Animonda, Miamor)
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            kot powinien dostawać mokrą, wysokomięsną karmę (*lista badań naukowych na końcu ankiety, warto poczytać), sucha karma
                            powoduje, że kot mało pije (z wyjątkiem fontanny kociej), a co prowadzi do chorób nerek i innych negatywnych dla zdrowia
                            konsekwencji. Dodatkowo sucha karma jest niezwykle przetworzona i w większości zawiera węglowodany, których kot po
                            prostu nie trawi i wydala w całości. Karma z marketu, która zawiera 4 % produktów pochodzenia zwierzęcego (m.in. pióra,
                            dzioby) - jest również fatalnym wyborem. Węglowodany w diecie kota niszczą trzustkę i powodują cukrzycę -> oszczędzamy
                            na karmie, płacimy za leczenie.
                        </span>
                    </li>
                {% else %}
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            nie oddajemy psów do pilnowania posesji,
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            jesteśmy przeciwni trzymaniu psów w kojcach i na łańcuchu,
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            nie akceptujemy kolczatek,
                        </span>
                    </li>
                    
                    <em>
                        <span class="other-section--text-bold-600">
                            Pies to przyjaciel, a nie zwierzątko do tresowania, prawda?
                        </span>
                    </em>
                {% endif %}
            </ul>
        
            <ol class="other-section--list-ul">
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Imię i nazwisko:
                    </span>
                </li>
            
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Miejscowość i adres (docelowego zamieszkania {% if name_pdf == 'ankieta_kot' %}kota {% else %}psa {% endif %}):
                    </span>
                </li>
            
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Numer telefonu:
                    </span>
                </li>
            
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Proszę podać imię zwierzaka, którym są Państwo zainteresowani:
                    </span>
                </li>
            
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Liczba osób w gospodarstwie domowym:
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy w gospodarstwie domowym są dzieci? Jeśli tak, to ile i w jakim wieku?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy właściciel mieszkania/domu wyraża zgodę na zamieszkanie zwierzaka? (Tylko wynajmowane mieszanie)
                    </span>
                </li>
                {% if name_pdf == 'ankieta_kot' %}
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Czy okna oraz balkon są zabezpieczone przed wypadnięciem oraz zaklinowaniem kota? Jeśli tak, to w jaki sposób?
                        </span>
                    </li>
                {% else %}
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Czy posesja jest ogrodzona? (dom)
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Na którym piętrze Państwo mieszkają (blok)? Czy w bloku jest winda?
                        </span>
                    </li>

                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            W jaki sposób spędzają Państwo czas wolny?
                        </span>
                    </li>
                {% endif %}

                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy w domu mieszkają inne psy lub koty? Jeśli tak, proszę napisać, ile, jakie (płeć), czy są
                        wysterylizowane/wykastrowane.
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy istnieją psy/koty, z którymi przyszły zwierzak koniecznie musi się dogadywać (np. pies, osoby, która będzie zajmować
                        się nim w razie nieobecności właściciela)? Jeśli tak, to jakie i jakiej płci.
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy posiadali Państwo wcześniej psa/kota? Jeśli tak, proszę opisać: ich historię, jak długo żyły, co się z nimi
                        stało.
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy kiedykolwiek oddali Państwo psa/kota? Jeśli tak, to dlaczego?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Dlaczego akurat teraz zdecydowali się Państwo na adopcję {% if name_pdf == 'ankieta_kot' %}kota{% else %}psa{% endif %}?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy osoby, z którymi będzie mieszkał {% if name_pdf == 'ankieta_kot' %}kot{% else %}pies{% endif %}, były sprawdzane pod kątem alergii na sierść lub ślinę {% if name_pdf == 'ankieta_kot' %}kota {% else %}psa {% endif %}i w tym momencie
                        mają Państwo pewność, że nikt z domowników nie jest uczulony?
                    </span>
                </li>

                {% if name_pdf == 'ankieta-psa' %}
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Ile godzin dziennie pies będzie sam w domu?
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Jak często i na jak długo pies będzie chodził na spacery (prosimy o realne i zgodne z Państwa możliwościami prognozy)?
                        </span>
                    </li>
                {% endif %}
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy jesteście Państwo przygotowani na to, że dorosły {% if name_pdf == 'ankieta_kot' %}kot{% else %}pies{% endif %} może „nabrudzić” w domu lub coś zniszczyć, zanim nauczy się
                        nowych zasad? To może być również zachowanie pod wpływem stresu spowodowanego zmianą otoczenia. Co zrobicie w takiej
                        sytuacji?
                    </span>
                </li>
                
                {% if name_pdf == 'ankieta-psa' %}
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Czy jest możliwość wykorzystania przez Państwa urlopu przez pierwsze dni pobytu psa w domu? Jak długo? Warto od
                            pierwszego dnia adopcji przyzwyczajać psa do nieobecności opiekunów, aby zminimalizować ryzyko wystąpienia u niego lęku
                            separacyjnego. Nawet jeśli adoptujący pozostaje z psem w domu, zalecane jest, by od początku pies był zostawiany sam
                            choć na krótki czas (10-15 min), który stopniowo będzie wydłużany. Pies nieprzyzwyczajony do nieobecności opiekunów,
                            może w późniejszym czasie reagować na takie sytuacje lękiem, który przejawiać się może wyciem, szczekaniem, załatwianiem
                            potrzeb fizjologicznych, niszczeniem przedmiotów itp. pod nieobecność opiekunów.
                        </span>
                    </li>
                    
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            Nie znamy przodków szczeniaków, którym szukamy domu, więc ich docelowa wielkość jest tylko orientacyjna. Co zrobią
                            Państwo, jeśli wielkość psa nie spełni Państwa oczekiwań? [TYLKO SZCZENIAKI]
                        </span>
                    </li>
                {% endif %}

                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Co się będzie działo z {% if name_pdf == 'ankieta_kot' %}kotem {% else %}pse{% endif %} w czasie Państwa wyjazdów, wakacji, itp.?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy jest ktoś, kto zajmie się {% if name_pdf == 'ankieta_kot' %}kotem{% else %}psem{% endif %} (choćby tymczasowo), jeśli Państwo nie będą mogli sprawować nad nim opieki? Kto?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Jeśli {% if name_pdf == 'ankieta_kot' %}kot{% else %}pies{% endif %} zachoruje, czy jesteście Państwo w stanie zapłacić za jego leczenie jednorazowo kilkaset złotych?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy zgadzają się Państwo opiekować {% if name_pdf == 'ankieta_kot' %}kotem{% else %}psem{% endif %} przez całe jego życie?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Czy zobowiązują się Państwo do utrzymywania kontaktu z wolontariuszem, który dotychczas opiekował się {% if name_pdf == 'ankieta_kot' %}kotem {% else %}psem {% endif %} (m.in.
                        informowanie o zmianie adresu i danych kontaktowych oraz o ewentualnych problemach związanych z opieką)?
                    </span>
                </li>
                
                <li class="other-section--list-li">
                    <span class="other-section--text-bold-400">
                        Jakie cechy uważają Państwo za pożądane i niepożądane u {% if name_pdf == 'ankieta_kot' %}kota{% else %}psa{% endif %} (poziom energii, wielkość, wiek, zachowanie...)? Gdyby {% if name_pdf == 'ankieta_kot' %}kot{% else %}pies{% endif %},
                        którym są Państwo zainteresowani z jakiegoś powodu do Państwa nie trafił, chcielibyśmy wysłać Państwu propozycje innych
                        naszych podopiecznych, spełniających oczekiwania.
                    </span>
                </li>
            </ol>

            <p class="other-section--text other-section--text-p">
                <span class="other-section--text-bold-400">
                    Wyrażam zgodę na przetwarzanie moich danych osobowych zawartych w niniejszej ankiecie dla potrzeb niezbędnych do procesu
                    adopcyjnego prowadzonego przez Fundację Zwierzęta Niczyje. Administratorem danych jest Fundacja Zwierzęta Niczyje, która
                    zobowiązuje się do ich ochrony przed dostępem osób niepowołanych, a na mocy odrębnych przepisów dostęp do nich mogą
                    uzyskać uprawnione podmioty i instytucje. Dane będa przetwarzane jedynie dla celów zapobiegania i zwalczanie bezdomności
                    zwierząt. (zgodnie z Ustawą z dnia 29.08.1997 roku o Ochronie Danych Osobowych; Dz. U. z 2002r. Nr 101, poz. 926 z póź.
                    zm.).
                </span>
            </p>

        </div>
        
        <div class="other-section__footer">
            {% if name_pdf == 'ankieta_kot' %}
                <p class="other-section--text">
                    <em>
                        <span class="other-section--text-bold-600">
                            *Bibliografia przygotowana przez behawiorystów ze strony "O kotach - merytorycznie"
                        </span>
                    </em>
                </p>

                <p class="other-section--text">
                    <a href="https://www.facebook.com/download/preview/428489824208818" class="other-section--a" target="_blank">
                        Tutaj w plikach artykuł Dr Zoran
                    </a>
                </p>

                <p class="other-section--text">
                    <a href="https://magwet.pl/mw/19858,kot-jako-miesozerca-co-to-oznacza-dla-lekarza-weterynarii" class="other-section--a" target="_blank">
                        Artykuł w oryginale plus bibliografia
                    </a>
                </p>

                <p class="other-section--text">
                    <a href="https://www.facebook.com/download/preview/428489824208818" class="other-section--a" target="_blank">
                        „Kot jako miesożerca – co to oznacza dla lekarza weterynarii' – artykuł w j. polskim
                    </a>
                </p>

                <p class="other-section--text">
                    <a href="https://link.springer.com/article/10.1007%2Fs00360-010-0528-0" class="other-section--a" target="_blank">
                        Trochę o składzie myszy i zapotrzebowaniach kotów
                    </a>
                </p>

                <p class="other-section--text">
                    <a href="http://avmajournals.avma.org/doi/abs/10.2460/javma.239.5.596?journalCode=javm" class="other-section--a" target="_blank">
                        Dr Zoran - o kocim metaboliźmie i żywieniu
                    </a>
                </p>
                <p class="other-section--text">
                    <a href="http://journals.usamvcluj.ro/index.php/veterinary/article/viewFile/12803/10439" class="other-section--a" target="_blank">
                        Węglowodany w diecie a cukrzyca- journals
                    </a>
                </p>
                <p class="other-section--text">
                    <a href="http://onlinelibrary.wiley.com/doi/10.1111/jvim.14618/full" class="other-section--a" target="_blank">
                        Węglowodany w diecie a cukrzyca- onlinelibrary
                    </a>
                </p>
                <p class="other-section--text">
                    <a href="http://eur-lex.europa.eu/legal-content/PL/TXT/?uri=CELEX%3A32009R1069" class="other-section--a" target="_blank">
                        Co wg prawa może znaleźć się w karmie dla zwierząt: art.10 i art.14
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.cambridge.org/core/journals/journal-of-applied-animal-nutrition/article/effects-of-differing-proportions-of-dietary-macronutrients-on-the-digestibility-and-postprandial-endocrine-responses-in-domestic-cats-felis-catus/E2E826531BE0B852783C74DB9D4E7386" class="other-section--a" target="_blank">
                        Węgle a waga kota i poziom glukozy
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/21198957" class="other-section--a" target="_blank">
                        Ilość wody w pokarmie a waga kota
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.cambridge.org/core/journals/british-journal-of-nutrition/article/effect-of-dietary-water-intake-on-urinary-output-specific-gravity-and-relative-supersaturation-for-calcium-oxalate-and-struvite-in-the-cat/7FF71DDA2706FDCDA3BA961C3D8DB46F#" class="other-section--a" target="_blank">
                        Zawartość wody w karmie a kryształki w moczu
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://europepmc.org/abstract/med/464354" class="other-section--a" target="_blank">
                        Ilość pobieranej wody przy karmieniu mokrą i suchą
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/14974568" class="other-section--a" target="_blank">
                        Związek między zawartością węgli a ph moczu i powstawaniem struwitów
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/22005401" class="other-section--a" target="_blank">
                        Po jakim czasie od wysokowęglowodanowego posiłku poziom glukozy jest u kotów podwyższony- ncbi
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="http://journals.sagepub.com/doi/abs/10.1177/1098612X12449702?url_ver=Z39.88-2003&rfr_id=ori:rid:crossref.org&rfr_dat=cr_pub%3dpubmed" class="other-section--a" target="_blank">
                        Po jakim czasie od wysokowęglowodanowego posiłku poziom glukozy jest u kotów podwyższony- journals
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/26265631" class="other-section--a" target="_blank">
                        Związek między suchą karmą a otyłością- art 1
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/28622790" class="other-section--a" target="_blank">
                        Związek między suchą karmą a otyłością- art 2
                    </a>
                </p>
                
                <p class="other-section--text">
                    <a href="https://www.ncbi.nlm.nih.gov/pubmed/29351768" class="other-section--a" target="_blank">
                        Związek między suchą karmą a otyłością- art 3
                    </a>
                </p>

                <p class="other-section--text">
                    <span class="other-section--text-bold-400">
                        <em>Dalsze do poczytania:</em>
                    </span>
                    <br>
                    <a href="http://consciouscat.net/2010/04/05/the-truth-about-dry-cat-food/" class="other-section--a other-section--a-block" target="_blank">
                        http://consciouscat.net/2010/04/05/the-truth-about-dry-cat-food/
                    </a>
                    <br>
                    <a href="http://consciouscat.net/2017/03/20/study-confirms-dry-food-increases-risk-diabetes-cats/" class="other-section--a other-section--a-block" target="_blank">
                        http://consciouscat.net/2017/03/20/study-confirms-dry-food-increases-risk-diabetes-cats/
                    </a>
                    <br>
                    <a href="http://consciouscat.net/2012/05/29/more-reasons-to-stop-feeding-dry-food-to-your-cats/" class="other-section--a other-section--a-block" target="_blank">
                        http://consciouscat.net/2012/05/29/more-reasons-to-stop-feeding-dry-food-to-your-cats/
                    </a>
                    <br>
                    <a href="http://catinfo.org/" class="other-section--a other-section--a-block" target="_blank">
                        http://catinfo.org/
                    </a>
                    <br>
                    <a href="http://feline-nutrition.org/nutrition" class="other-section--a other-section--a-block" target="_blank">
                        http://feline-nutrition.org/nutrition
                    </a>
                    <br>
                    <a href="http://www.rawessentials.co.nz/gastric-acidity-mixed-feeding" class="other-section--a other-section--a-block" target="_blank">
                        http://www.rawessentials.co.nz/gastric-acidity-mixed-feeding
                    </a>
                    <br>
                    <a href="http://www.catnutrition.org/uploads/6/4/4/5/6445971/list_otwarty_do_lekarzy_weterynarii.pdf" class="other-section--a other-section--a-block" target="_blank">
                        http://www.catnutrition.org/uploads/6/4/4/5/6445971/list_otwarty_do_lekarzy_weterynarii.pdf
                    </a>
                </p>
            {% endif %}

            <p class="other-section--text">
                <span class="other-section--text-bold-400">
                    autor:
                    <i>
                        <span class="other-section--text-bold-600">
                            Karolina
                        </span>
                    </i>
                </span>
            </p>
        </div>


    </div>
</article>
{% endblock %}