{% extends 'base.html.twig' %}

{% block body %}
    <article class="other">
        <div class="other-section">
            <div class="other-section__header">
                <img class="other-section__header--img" src="/build/images/slides/slide-0_720.a608548f.jpg" alt="">
                <h2 class="other-section__header--title">Wizyta przedadopcyjna</h2>
            </div>
    
            <div class="other-section__body">
                <p class="other-section--text">
                    <em>
                        <span class="other-section--text-bold-600">
                            Wizyta przedadopcyjna - czy jest czego się bać?
                        </span>
                    </em>
                </p>
                
                <p class="other-section--text-p">
                    <span class="other-section--text-bold-400">
                        Wizyta przedadopcyjna to nic innego jak spotkanie z wolontariuszem, w celu poznania nowej rodziny podopiecznego Fundacji
                        Zwierzęta Niczyje. W przypadku kotów uczulamy na zabezpieczenie okien i balkonu, rozmawiamy o zdrowej diecie, w
                        przypadku psów rozmawiamy m.in. o lękach separacyjnych, czystości, spacerach, agresji. Rozwiewamy wszelkie wątpliwości
                        przyszłych opiekunów, ale też nasze. To po prostu bardziej rozbudowana ankieta, mogą Państwo spotkać się z takimi
                        pytaniami jak: dlaczego akurat teraz zdecydowaliście się na adopcję, czy mieliście zwierzęta, co się z nimi stało, kto
                        zaopiekuje się zwierzakiem podczas Waszej nieobecności.
                    </span>
                </p>
                
                <p class="other-section--text">
                    <em>
                        <span class="other-section--text-bold-600">
                            Czym wizyta przedadopcyjna nie jest:
                        </span>
                    </em>
                </p>
        
                <ul class="other-section--list-ul">
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                           <b>testem białej rękawiczki</b> – nie interesuje nas nie zasłane łóżko, czy kurz na telewizorze. ;) Za to walające się butelki
                            po alkoholu będą sygnałem ostrzegawczym. Przychodzimy sprawdzić warunki życia zwierzaka, jego komfort, ale nie
                            oczekujemy pałacu i oddzielnej sypialni dla pupila.
                        </span>
                    </li>
        
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            <b>rankingiem zamożności</b> – nie przeprowadzamy castingów, nie interesuje nas zawartość portfeli opiekunów. Chcemy być tylko
                            spokojni, że w razie choroby zwierzaka jesteście w stanie zapłacić za jego opiekę weterynaryjną. Nie oczekujemy złotych
                            misek i polędwiczki z jednorożca na śniadanie. ;)
                        </span>
                    </li>
        
                    <li class="other-section--list-li">
                        <span class="other-section--text-bold-400">
                            <b>castingiem</b> - nie działają na nas słodkie oczy i przymilne miny. Nie straszne nam herbatki malinowe i czekoladowe ciasto
                            (bohatersko, choć z trudem opieramy się!). Szukamy dobrych warunków, nie ma czego się bać – jeśli jesteście empatycznymi
                            ludźmi, którzy chcą dać dom zwierzakowi i są świadomi jego potrzeb, z pewnością wizyta będzie pozytywna. ;)
                        </span>
                    </li>
                </ul>
            </div>
    
            <div class="other-section__footer">
                <p class="other-section--text">
                    <span class="other-section--text-bold-400">
                        autor:
                        <i>
                            <span class="other-section--text-bold-600">
                                Karolina
                            </span>
                        </i>
                    </span>
                </p>
            </div>
        </div>
    </article>
{% endblock %}