{% extends "article_admin/_base.html.twig" %}

{% block dashboard_title %}Dodaj nowy Artykuł{% endblock %}

{% block dashboard_adding_btn %}
<a href="{{ path('admin_article_list')}}" class="dashboard-section__adding-btn btn btn-outline-secondary"
    title="Cofnij do listy artykułów">
    <i class="fas fa-share"></i>
</a>
{% endblock %}

{% block dashboard_body %}
    {{ include('article_admin/_form.html.twig', {
            button_text: 'Utwórz'
        }) }}
{% endblock %}