$info: darken(#0f75c9, 20%);
$lithBlue: #0fb0c9;

$lithGray: #efefee;

$mainCyan: #04859D;
$mainBlue: #2f5572;
$mainLithBlue: #39a5f1;
$mainDarkBlue:  #0c1927;
$mainYellow: #FFB000;
$mainOrange: #85f1df;
$mainLithCyan: #49A5B6;
$mainDarkCyan: #0d6273;
$mainDark: #000000;
$mainWhite: #fff;
$mainGray: #ddd;

/* #### Navigation #### */
$contentNav: #0f2135;