.dropdown {
    &-is-visible {
        position: relative;
        display: block;

        @include atSmall {
            display: none;
        }

        &-sidebar {
             display: block !important;
        }
    }

    &-change-color {
        color: $mainBlue;
    }

    &-nav {
        &:hover {
            opacity: 1;
            color: rgba($mainCyan, 1);
            transform: translateY(-100%) translateX(50%) scale(1) ;
            right: 0;
            transition: all 0.5s ease-in-out;
        }
    }
}
.fa-caret-right {
	display: inline;

	@include atSmall {
		display: none;
	}
}
