.sidebar {
	width: 10%; 
	min-height: 100vh;
	left: 0;
	padding: 0.5em;
	background-color: lighten($mainDarkBlue, 10%);
	transition: all .3s linear;
	display: none;
	
	& .active {
		display: inline-block;
	}
	
    &-article {
		width: 100%;
		position: sticky;
		top: 150px;
		
        @include atMedium {
			display: block;
			opacity: 1;	
            width: 320px;
		}   
    }
    
    &-dashboard {
		position: fixed;
		top: 1px;
		
		@include atMedium {
			display: flex;
			width: 50px;
			padding-top: 120px; 
		}  
    }
  
    &__header {
		margin-top: 30px;
		width: 230px;
		
    }
  	
	&--is-unseen {
		&__article {
			opacity: 0;
	 		z-index: -10;
			width: 0;
			background-color: $mainDarkCyan;
			transform: rotateY(360deg);
		}
		
  		&__dashboard {
			display: flex;
			flex-direction: column;
			width: 100%;

			@include atMedium {
				width: 220px;	
			}
  		}
	}

	&__name-section {
		margin: 20px auto;
		color: $mainLithCyan;
		width: 230px;
	}

	&__list {
		position: sticky;
		top: 20px;
		left: 0;
		
		&--icon {
			font-size: 1.6rem;
			display: inline-block;
		}

		&--ul {
			width: 100%; 
			list-style-type: none;
			line-height: 150%;
            letter-spacing: 2px;
            padding: 0;
			
			// &-dashboard {
			// 	// display: flex;
			// 	// align-self: center;
			// 	justify-items: center;
			// }

            & ul {
				padding: 0;
				display: none;
            }

			@include atMedium{
				padding-top: 30px;
			}
		}

		&--first-li {
			position: relative;
			list-style-type: none;
            width: 100%;
			left: 2px;
			display: block;
			padding: 10px 0;

			&:hover a.sidebar__name-section {
				color: $mainOrange;
			}

			& > ul:active {
				display: flex;
				flex-direction: column;
			}
		}

		&--secend-li {
			position: relative;
			width: 230px; 
			list-style-type: none;
			line-height: 150%;
			margin-bottom: 20px;
			padding: 10px;
			margin: 5px;
			border: 0.5px dotted #666;

			&:hover { 
				border: 0.5px dotted $mainOrange;
				color: $mainOrange; 
			}
		}

		&--article-text-title {
			font-size: 0.7rem;
			line-height: 50%;
			font-weight: 700;
			letter-spacing: 1px;
			color: #aaa;
			text-decoration: none;
			margin-left: 10px;

			&:hover { 
				color: $mainOrange; 

			}
		}
		
		&--dashboard-text-name {
			padding: 5px;
			color: $mainGray;
			display: none;
			
			&:hover { 
				color: $mainOrange; 
			}
			
			&_empty {
				display: inline;
				text-align: center;
			}
		}

		&--icon {
			margin: 0;
			text-align: center;
		}
	}

	&__menu {
		z-index: 10;
		cursor: pointer;
		position: fixed;

		&-icon {
			width: 20px;
			height: 20px;
			display: none;
			
			&--dashboard {
				top: 20px;
				left: 20px;
				
				@include atMedium {
					position: relative;
					top: 5px;
					left: 5px;
					display: inline-block;
				}
			}
			
			&--text-content {
				width: 20px;
				height: 20px;
				top: 15px;
				left: 15px;
				padding: 20px;
				margin-bottom: 25px;
				display: none;
				
				@include atMedium {
					position: relative;
					top: 5px;
					left: 5px;
					display: inline-block;
				}
			}

			

			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: $mainLithBlue;
				transform-origin: 0 0;
				transition: transform .3s ease-out;
			}

			&__middle {
				position: absolute;
				top: 8px;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: $mainLithBlue;
				transition: all .3s ease-out;
				transform-origin: 0 50%;
				cursor: pointer;
			}

			&::after {
				content: "";
				position: absolute;
				top: 16px;
				left: 0;
				width: 20px;
				height: 3px;
				background-color: $mainLithBlue;
				transform-origin: 0 100%;
				transition: transform .3s ease-out;
			}

			&--close-x {
				&::before {
					transform: rotate(45deg) scaleX(1.25);
					background-color: $mainLithBlue;
				}

				.sidebar__menu-icon__middle {
					opacity: 0;
					transform: scaleX(0);
				}

				&::after {
					background-color: $mainLithBlue;
					transform: rotate(-45deg) scaleX(1.25) translateY(1px);				
				}
			}
		}
 	}
}