.custom-control-switch {
    height: 0;
    width: 0;
    visibility: hidden; 
}

.control-label-switch {
    width: 40px;
    height: 20px;
    background: grey;
    display: block;
    border-radius: 20px; 
    position: relative;
   cursor: pointer;
}

.control-label-switch:after {
    content: '';
    position: absolute;
    top:2px;
    left: 4px;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 100%;
    transition: 0.3s;
}

input:checked + label {
    background: green;
}

input:checked + label:after {
    left: calc(100% -2px);
    transform: translateX(100%);
}

label:active:after {
    width:20px;
}