{% extends 'base.html.twig' %}

{% block title %}{{ category }}{% endblock %}

{% block body %}
    <article class='content'>
        {% if animals|default %}
        <div class="grid grid-article">
            {% for animal in animals %}
            <div class="postcard zoom">
                <div class="postcard-overlay">
                    <a href="">
                        {% if animal.image %}
                        <img class="postcard-img" src="{{ animal.image }}" alt="{{ animal.name }}" />
                        {% else %}
                        <div class="postcard-icon"><i class="paw"></i></div>
                        {% endif %}
                    </a>
                </div>

                <h3 class="postcard-title">{{ animal.name }}</h3>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No animals to display</p>
        {% endif %}
    </article>
{% endblock %}
