<nav class="sidebar sidebar-article" id="sidebar__article">
    <div class="sidebar__list">
        <div class="sidebar__header">{{ title }}</div>
        <ul class="sidebar__list--ul"> 
            <li class="sidebar__list--first-li dropdown">
                <a href="#" class="sidebar__name-section">
                    <span class="icon"><i class="far fa-newspaper fa-lg"></i> O kotach <i class="fas fa-caret-right active"></i></span>
                </a>
                <ul class="dropdown-menu-sidebar">
                    {% if articles %}
                        {% for article in articles %}
                            
                            <li class="sidebar__list--secend-li">
                                <a href="{{ path('article_show', {slug: article.slug }) }}" class="sidebar-link">
                                    <span class="sidebar__list--article-text-title"><i class="book-open"></i> {{ article.title }}</span>
                                </a>
                            </li>  
                        {% endfor %}                    
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>