.dashboard {
    width: 100%;
    min-height: 100vh;
    position: relative;
    margin-top: 20px;
    top: 0;
    left: 0;

    &__switch-user {
        position: relative;
        top: 0;
        left: 0;
        width: 300px;
        height: 50px;
    }

    &-section {	
        width: 100%;
        height: auto;
        position: relative;
        display: inline-block;
        color: $mainDarkBlue;
        transition: all 0.3s linear;
        display: flex;
        flex-wrap: wrap;

        @include atMedium {
            width: calc(99% - 50px);
            float: right;
            margin: 0 .5%;
            padding: 15px 30px 10px 20px;
        }
 
        &--is-mid-large {
            display: flex;
            width: 100%;

            @include atMedium {
                transition: all 0.3s linear;
                width: calc(99% - 220px);	
            }       
        }
        


        &__menu-icon {
            width: 90vw;
            height: auto;
            // position: relative;
            background-color: $mainWhite;

        }
        
        & .add-sticky {
            position: fixed;
            top:0;

            @include atMedium {
                padding: 70px 0 20px 0;
            }
        }

        &__wrapper {
            width: 100%;
            height: auto;
            position: relative;
            margin-top: 10px;
            display: block;
        }

        &__search {
            width: auto;
            height: auto;
            position: absolute;
            top: 7px;
            right: 18px;
            transform: translateY(10px);
            z-index: 3;
            display: none;
            
            @include atMedium {
                display: block;
            }
            
            &--btn-undo {
                right: 328px;
                transform: translateY(30px);
                display: inline-block;
            }

            &--form {
                width: 300px;
                display: inline-block;
            }
        }
        
        &__title {
            text-transform: uppercase;
            text-align: center;
            font-size: 1.8rem;
            color: $mainDark;
            margin: 5px;
        }

        &__adding-btn {
            position: fixed;
            top: 10px;
            left: 40px;
            margin-left: 10px;
            
            @include atMedium {
                position: relative;
                top: 0;
                left: 0;
            }
        }
    }
}

