#arrow-down {
    position: fixed;
    right: 50%;
    bottom: 5%; 
    width: 58px;
    height: 58px;
    transform: translateX(50%);
    overflow: hidden;
    border: 1px solid $mainDarkCyan;
    background-color: rgba($mainWhite, 0.5);
    border-radius: 50%;
    text-align: center;
    z-index: 3;

    @include atSmall {
        right: 5%;
    }
    
    &:hover {
        box-shadow: 0 0 30px $mainCyan;
    }
    
    .angle-double-down {
        font-size: 2rem;
        padding: 10px;
        animation: arrow 3s infinite linear;
    }
}

.home {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 100vh;
    background-color: lighten($mainDarkBlue, 10%);
    z-index: 6;

    &-container {
        width: 100%;

        @include atExtraLarge {
            margin-left: auto;
            margin-right: auto; 
            width: 1440px;
        }
    }
    
    &-title {
        @include grid-child (1, 13, 1, 3);
        color: $mainCyan; 
        display: flex;
        align-items: center;

        &::after, &::before {
            content: '';
            display: block;
            border: 1px solid rgba($mainLithCyan, 0.5);
            flex-grow: 1;
            margin: 0 10px;
        }
    }

    &-last {
        background-color: lighten($mainDarkBlue, 10%);

        &__container {
            @include grid-child (1, 13, 3, 7);
        }
        
        &__add-animals { 
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
            grid-gap: 20px;

            @include atSmall {
                grid-template-columns: repeat(2, minmax(200px, 1fr));
                grid-template-rows: repeat(2, 1fr);
            }

            @include atMedium {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));                
            }
        }
    }
    
    &-about { 
        background-color: rgba($mainWhite, 1); 

        &__container {
            display: grid;
            @include grid-child (1, 13, 3, 19);
                    
                grid-template-columns:  1fr;
                grid-template-rows: repeat(6, auto);
                grid-template-areas: 
                "img_1"
                "text_a"
                "img_3"
                "text_b"
                "img_4"
                "text_c";

                grid-column-gap: 10px;
                grid-row-gap: 10px;


            @include atSmaller {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(4, auto);
                grid-template-areas: 
                "text_a img_1"
                "text_a text_b"
                "img_4 text_b"
                "text_c text_c";
            }

            @include atSmall {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: 
                "text_a img_1 img_2"
                "text_a text_b img_2"
                "img_3 text_b text_c"
                "img_3 img_4 text_c";

                grid-column-gap: 20px;
                grid-row-gap: 20px;
                
            }

            @include atMedium {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
                grid-template-areas: 
                "text_a img_1 img_2"
                "text_a text_b img_2"
                "img_3 text_b text_c"
                "img_3 img_4 text_c";
    
                grid-column-gap: 40px;
                grid-row-gap: 40px;
            }
        }
    
        &__text {  
            padding: 10px;  
            text-align: justify;
            color: rgba($mainLithCyan, 1);
            border: 1px solid $mainLithCyan;
            border-radius: 5px;

           @include atSmall {
                font-size: 0.8rem;
            }
            
            @include atMedium {
                font-size: 0.9rem;
            }

            @include atLarge {
                padding: 20px;  
                font-size: 1rem;
            }
            
            &-1 {
               grid-area: text_a;
       
            }
            
            &-2 {
                grid-area: text_b;
            }
        
            &-3 {
                grid-area: text_c;
            }
        }
    
        &__image {
            padding: 0 0vw;
    
            & img {
                width: 100%;
                height: 100%;
            }
    
            &-1 {
                grid-area: img_1;
            }
    
            &-2 {
                grid-area: img_2;
                display: none;

                 @include atSmall {
                     display: block;
                }
            }
    
            &-3 {
                grid-area: img_3;

                @include atSmaller {
                    display: none;
                }

                @include atSmall {
                    display: block;
                }
            }
    
            &-4 {
                grid-area: img_4;
            }
        }
    }

    &-volunteering {
        background-color: lighten($mainDarkBlue, 10%);
        text-align: center;
    
        &__text {
            display: none;
            @include grid-child (1, 13, 5, 8);


            & .first-letter {
                font-size: 1.5rem;

                @include atSmaller {
                    font-size: 2rem;
                }
            }
    
            & .and-next-text {
                color: $mainCyan;
                font-size: 1.2rem; 
                text-transform: uppercase;

                @include atSmaller {
                    font-size: 1.5rem; 
                    text-transform: uppercase;
                }
            }
    
            & p {
                font-size: 0.8rem;
                padding: 10px;
                @include alert($mainLithCyan);
                animation: letter .5s linear;
                text-align: justify;

                @include atSmaller {
                    font-size: 1.2rem;
                    padding: 15px;
                }
            }
    
            &-volunteer {
                color: $mainDarkBlue;
                @include grid-child (1, 13, 3, 4);
                letter-spacing: 0.2rem;
                font-size: 1.3rem;

                 @include atSmaller {
                    letter-spacing: 0.5rem;
                    font-size: 2.5rem;                    
                 }

                @include atSmall {
                    letter-spacing: 1rem;
                    font-size: 3rem;
                }
            }
        }
    }

    &-transfer {
        background-color: $mainWhite;

        &__container {
            display: grid;
            @include grid-child (1, 13, 4, 22);

            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
            grid-template-areas: 
                "transfer_5"
                "transfer_10"
                "transfer_30" 
                "transfer_50"
                "transfer_100" 
                "transfer_any";
            grid-gap: 10px;

            @include atSmaller {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, auto);
                grid-template-areas: 
                    "transfer_5 transfer_10"
                    "transfer_30 transfer_50"
                    "transfer_100 transfer_any";
            }

            @include atSmall {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr) auto;
                grid-template-areas: 
                    "transfer_5 transfer_10 transfer_30"
                    "transfer_50 transfer_100 transfer_any"
                    ". ratujemyzwierzaki .";
            }

            @include atMedium {
                grid-gap: 20px;
                justify-self: center;
            }
        }
         
        &__image {
            position: absolute;
            top: 50%;
            left: 50%;
            opacity: 1;
            width: 100px;
            transition: .5s ease;
            transform: translate(-50%, -50%);

            @include atSmaller {

            }
        }
    
        &__middle {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: .5s ease;
            opacity: 0;
            background-color:  rgba($mainDarkBlue, 0.5);
            
            &:hover {
                opacity: 1;
            }
        }
    
        &__text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);         
        }
        
        &__content {
            position: relative;
            width: 100%;
            height: 220px;
            text-align: center;
            border: 1px dotted $mainCyan;
            border-radius: 5px;

            &--5 {
                grid-area: transfer_5;
            }
        
            &--10 {
                grid-area: transfer_10;             
            }
        
            &--30 {
                grid-area: transfer_30;      
            }
        
            &--50 {
                grid-area: transfer_50;
            }
        
            &--100 {
                grid-area: transfer_100;
            }
        
            &--any {
                grid-area: transfer_any;
            }
        
            &--ratujemyzwierzaki {
                grid-area: ratujemyzwierzaki;
                border: none;
                display: none;

                @include atSmall {
                    display: block;
                }

                & img.icon-ratujemyzwierzaki {
                    width: 200px;

                    @include atMedium {
                        width: 250px;  
                    }
                }
            }
        }
    }
}

@keyframes letter {
    0% { transform: scale(0.5); opacity: 0;}
    100% { transform:scale(1); opacity: 1;}
}

@keyframes arrow {
    0% {transform: translateY(-80px) scale(1); color: $mainLithCyan;}
    20% {transform: translateY(-40px) scale(1.2); color: $mainLithCyan;}
    40% {transform: translateY(-20px) scale(1.5); color: $mainLithCyan;}
    50% {transform: translateY(0) scale(1.8); color: $mainDarkCyan;}
    60% {transform: translateY(20px) scale(1.5); color: $mainDarkCyan;}
    80%{transform: translateY(40px) scale(1.2); color: $mainDarkBlue;}
    100% {transform: translateY(80px) scale(1); color: $mainLithCyan;}
}
