{% extends 'file_manager/_base.html.twig' %}

{% block dashboard_title %}{{ title }}{% endblock %}

{% block dashboard_adding_btn %}
    <a href="" class="dashboard-section__adding-btn btn btn-outline-secondary">
        <i class="fas fa-plus-circle"></i>
    </a>
{% endblock %}

{% block dashboard_body %}
    <div id="file_manager">
        <file-manager-app></file-manager-app>
    </div>
{% endblock %}