<div class="footer grid grid-footer ">

    <div class="footer-social">
        <img class="logo-footer" src="/build/images/logo/logo.8f5160f4.png" alt="Logo">
        <div class="icon">

            <a href="https://facebook.com/FundacjaZwierzetaNiczyje/?ref=m_notif&notif_t=group_highlights"
                target="_blank" class="icon icon-link">
                <span class="icon icon-facebook icon-footer">
                    <i class="fab fa-facebook-square"></i>
                </span>
            </a>

            <a href="https://instagram.com/fundacja_zwierzeta_niczyje?utm_source=ig_profile_share&igshid=1joz9gcb9eiem"
                target="_blank" class="icon icon-link">
                <span class="icon icon-instagram icon-footer">
                    <i class="fab fa-instagram"></i>
                </span>
            </a>

            <a href="https://www.ratujemyzwierzaki.pl/fzn?fbclid=IwAR19b9MdbjYodLV8Z_Ck_kNEGxGmrSRz0Fn75lklQAiQYzsqA2k4j_MOdbI"
                target="_blank" class="icon icon-link">
                <span class="icon icon-footer">
                    <img class="icon-ratujemyzwierzaki" src="/build/images/logo/ratujemyzwierzaki_logo.ec7e8e3c.svg"
                        alt="Ratujemy-Zwierzki">
                </span>
            </a>

        </div>
    </div>
    <div class="footer-text">
        <p>
            <h4>Fundacja Zwierzęta Niczyje</h4>
            ul. Lityńskiego 15/16<br>
            16-400 Suwałki<br>
            NIP 844-235-17-75<br>
            KRS 0000463161 <br>
            nr konta: 48 1020 1332 0000 1902 0840 1806<br>
            Dla przelewów zagranicznych: <br>
            IBAN PL48102013320000190208401806 <br>
            Kod BIC /SWIFT BPKOPLPW<br>
        </p>
    </div>
    <div class="footer-copyrights">
        <p>Wszystkie zdjęcia na tej stronie są naszą własnością i podlegają ochronie prawnej na mocy ustawy o
            prawie autorskim. Nie zezwalamy na ich wykorzystywanie i powielanie bez naszej zgody. Złamanie zasad
            ustawy o prawie autorskim i prawach pokrewnych z dnia 4 lutego 1994r. (dz. u. z 2006 r. nr 90, poz. 631
            z późn. zm.) grozi sankcjami karnymi. Jeżeli chciałbyś użyć zdjęć zwierząt (w celach stworzenia
            plakatów promujących adopcje, etc.) skontaktuj się z nami.</p>
    </div>
</div>