<div class="home-sction home-about" id="about-us" data-matching-link="/#about-us-link">
    <div class="grid grid-about">
        <h1 class="content-title home-title">O nas</h1>
        <div class="home-about__container">
            <div class="home-about__text home-about__text-1">
                <p>Suwalszczyzna. Kraina pokryta lasami i jeziorami.
                    Zachwycająca przyroda, zapierające dech w piersiach krajobrazy. I niewyobrażalny wręcz problem bezdomności zwierząt. Region, gdzie koty mają łowić myszy i sobie radzić. A suczki mają rodzić, bo po co sterylizować i się kłopotać. Przecież szczeniaków zawsze można łatwo się pozbyć. W całym województwie podlaskim działa zaledwie kilka organizacji pro zwierzęcych. Jest trudno.Jesteśmy wolontariuszami Fundacji Zwierzęta Niczyje w Suwałkach. Od 2013 roku staramy się pomagać bezdomnym zwierzętom. Najbardziej potrzebujące zwierzaki trafiają do naszych kontenerów, a my je leczymy, pielęgnujemy i szukamy domów -zarówno tymczasowych, jak i stałych.</p>
    
            </div>
            <div class="home-about__image home-about__image-1 zoom">
                <picture>
                    <source srcset="/build/images/thumbs/vita_960.47ebbe39.jpg" media="(min-width: 1440px)">
                    <source srcset="/build/images/thumbs/vita_720.bc848b7d.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/thumbs/vita_480.c5fb1b8b.jpg" alt="Vita" class="">
                </picture>
            </div>
            <div class="home-about__image home-about__image-2 zoom">
                <picture>
                    <source srcset="/build/images/thumbs/matylda_960.f945c1a3.jpg" media="(min-width: 1440px)">
                    <source srcset="/build/images/thumbs/matylda_720.83a5bd2a.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/thumbs/matylda_480.64929bb3.jpg" alt="Matylda" class="">
                </picture>
            </div>
            <div class="home-about__text home-about__text-2 zoom">
                
                <p>Nasza Fundacja nie tylko zajmuje się niesieniem pomocy bezdomnym zwierzętom  w myśl zasady: "wszystkie zwierzęta są nasze", lecz także angażuje się w        działania edukacyjne, promujące życie bez czynienia krzywdy. Codziennie dostajemy zgłoszenia o zwierzętach chorych, błąkających się po ulicach,porzuconych, w ciąży… Zabieramy więcej niż rozsądek podpowiada. Ale nie chcemy, by działa im się krzywda.Każdy kto do nas się zgłosi może liczyć na jakąś formę pomocy, nie zawsze jesteśmy w stanie sami zabezpieczyć zwierzaka, ale wspomagamy karmą, pomagamy szukać domów. Często brakuje nam środków, sił i ludzi. </p>
    
            </div>
            <div class="home-about__image home-about__image-3 zoom">
                <picture>
                    <source srcset="/build/images/thumbs/fumfel_960.67317ce8.jpg" media="(min-width: 1440px)">
                    <source srcset="/build/images/thumbs/fumfel_720.f6d07422.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/thumbs/fumfel_480.729ed5c3.jpg" alt="Fumfel" class="">
                </picture>
            </div>
            <div class="home-about__image home-about__image-4 zoom">
                <picture>
                    <source srcset="/build/images/thumbs/wolo_960.58ffbdfb.jpg" media="(min-width: 1440px)">
                    <source srcset="/build/images/thumbs/wolo_720.47e1f3bb.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/thumbs/wolo_480.78255c2c.jpg" alt="Wolo" class="">
                </picture>
            </div>
            <div class="home-about__text home-about__text-3 zoom">
                <p> Czasami też brakuje nam motywacji,
                    gdy kolejny raz zderzamy się z murem obojętności i niechęci. Działamy wolontariacko - w naszym wolnym czasie, nikt nie
                    jest zatrudniony w Fundacji. Działamy, bo widzimy ogromne cierpienie zwierząt w schroniskach, bo chcemy walczyć z bezdomnością, bo one głosu nie mają. Mamy dwa fundacyjne kojce dla psów i dwa kontenerki, w których trzymamy koty. Pomieszczenia ogrzewane i ciepłe. Przyjeżdżamy codziennie, dwa razy dziennie do zwierzaków. Codziennie karmimy, spacerujemy i przytulamy.Dla nich to ich mały raj. Są bezpieczne, ale to tylko namiastka tego, czego chcemy dla naszych podopiecznych, ale dla nich zwiększa szansę na dom.</p><p><b>Wspólnie stwórzmy im bezpieczny azyl.</b></p>
            </div>
        </div>
    </div>
</div>