<div class="grid grid-last page-section home-last wrapper" id="last">
    <h1 class="content-title home-title">Nowości na czterech łapach</h1>
    <div class="home-last__container">
        <div class="home-last__add-animals"> 
            {% if animals|default %}
            {% for animal in animals %}
            <div class="postcard zoom">
                <div class="postcard-overlay">
                    <a href="{{ path('animal_show', {id: animal.id }) }}">
                        {% if animal.imagePath %}
                            <img class="postcard-img" src="{{ animal.imagePath | imagine_filter('squared_thumbnail_small') }}">
                        {% else %}
                            <div class="postcard-icon"><i class="fas fa-paw"></i></div>
                        {% endif %}
                    </a>
                </div>

                <h3 class="postcard-title">{{ animal.name }}</h3>
            </div>
            {% endfor %}
            {% else %}
            <p>No animals to display</p>
            {% endif %}
        </div>
    </div>
</div>