.logo {
    position: relative;
    background-repeat: no-repeat;
    transition: all 1.5s ease-in-out;
    width: 30%;
    height: 30%;
    float: none;
    margin: 0 auto;
    
    @include atSmaller {
        width: 20%;
        height: 20%;
    }

    @include atSmall {
        float: left;
        top: 0em;
        left: -2em;
        width: 5em;
        height: 5em;
    }

    @include atMedium {
       
        top: -1em;
        left: -1.5em;
        width: 7.5em;
        height: 7.5em;
        margin-right: 0.5em;
    }

    @include atLarge  { 
       
        top: -1.5em;
        left: -1.5em;
        width: 9em;
        height: 9em;
        margin-right: 1em;
    }

    &:hover {
        transform: scale(1.05);	
        background-color: none;			
    }

    &-sticky {
        
        @include atLarge {
            transform: scale(0.65)  translateX(-2em);
            border-radius: 50%;
            border: 2px  solid rgba($mainCyan, 1);	
            background-color: rgba($mainWhite, 1);
            transition: all 1.5s ease-in-out;
        }

        &:hover	{
            transform: scale(.7) translateX(-2em);
        }		
    }

    &-footer {
        width: 60%;
        height: auto;
    }
}