.logo {
    position: relative;
    background-repeat: no-repeat;
    transition: all .5s ease-in-out;
    width: 30%;
    height: 30%;
    margin: 0 auto;
    color: $logo;
    
    @include atMedium {
        width: 17vw;
        height: 50px;
        top: 0;
        left: 20px;
    }

    // &__content {
    //     width: 30px;
    //     height: 30px; 
    // }

    // &__svg {
    //     // src: url('/build/images/file.b1865665.svg');
    // //    font-size: 1rem;
    //         width: 40px;
    //     height: 40px; 
    // }

    &:hover {
        transform: scale(1.05);	
        background: none;
        color: $hover		
    }

    // &-sticky {
        
    //     @include atLarge {
    //         transform: scale(0.65)  translateX(-2em);
    //         border-radius: 50%;
    //         border: 2px  solid rgba($borderNav, 1);	
    //         background-color: rgba($mainWhite, 1);
    //         transition: all 1.5s ease-in-out;
    //     }

    //     &:hover	{
    //         transform: scale(1.1);
    //     }		
    // }
}