<!doctype html>
<html lang="en">

    <head>
        <title>{% block title %}Fundacja Zwierząt Niczyich{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {% block stylesheets %}
            <!--#### Import styles ####-->
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>

    <body>
        <div class="container">
            <!-- #### Header #### -->    
            <header>
                {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
                    <!-- #### Switch message #### -->
                    {% include "inc/switch.html.twig" %}
                {% endif %}
        
                <!-- #### Navigation #### -->
                {% include "inc/nav.html.twig" %}
        
                <!-- #### Alert message #### -->
                {% include "inc/alert.html.twig" %}
    
            </header>
    
            <!-- #### Main Content #### -->
            <main>
                {% block body %}{% endblock %}
                {% include "security/login.html.twig" %}
            </main>

            <!-- #### Main Content #### -->
            <footer>
                {% include "footer/footer.html.twig" %}
            </footer>
        </div>

        {% block javascripts %}
        <!--#### Import script ####-->
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
