{% extends "base.html.twig" %}

{% block body %}
    <div class="content_body">
        <div class="row">
            <div class="col-sm-12">
                <div class="{% block content_class %}show-article-container wrapper{% endblock %}">
                    {% block content_body %}{% endblock %}
                </div>
            </div>
        </div>
    </div>

    <!-- #### Footer #### -->
    <footer class="footer">
        {% include "footer/footer.html.twig" %}
    </footer>
{% endblock body %}