.footer {
	position: relative;
	z-index: 6;
	background-color: rgba($mainDarkCyan, 1);
	border-top: 2px solid $mainLithCyan;
	width: 100%;
	padding: 5px;
	color: $mainDarkCyan;

	@include atSmaller {
			padding: 15px;
		}

	&-text {
		grid-area: text;
		font-size: .8rem;
		padding: 0 5px;
		border-radius: 5%;
		background-color: rgba($mainLithCyan, 1); 

		& p {
			line-height: 200%;
			letter-spacing: 1px;
		}

		@include atSmaller {
			padding: 0 15px;
		}
	}
	
	&-social {
		grid-area: social;
		width: 200px;
		line-height: 150%;
		letter-spacing: 1px;
		padding: 15px;
		justify-self: center;
		text-align: center;

		@include atMedium {
			padding: 0;
			justify-self: start;
		}

		&__web-space {
			p {
				color: $mainDarkBlue;
				padding: 5px 0 0 0;
				margin: 0;
			}
			a {
				color: #fff;
				list-style-type: none;
				line-height: 100%;
				padding: 0;
				margin: 0;
			}
		}
	}

	&-copyrights {
		grid-area: copyrights;
		padding: 0 5px;
		border-radius: 5%;
		background-color: rgba($mainLithCyan, 1); 
		font-size: 0.7rem;
		letter-spacing: 0.3px;
		line-height: 150%;
		text-transform: uppercase;

		@include atSmaller {
			padding: 10px 15px;
		}
	}
}