{% extends "article_admin/_base.html.twig" %}

{% block content_body %}
<h1>Edycja Artykułu</h1>

<hr>

<div class="row">
    <div class="col-sm-8">
        <h3>Dane edycji</h3>

        {{ include('article_admin/_form.html.twig', {
            button_text: 'Aktualizuj'
        }) }}
    </div>

    <div class="col-sm-4">
        <h3>Odniesienie</h3>

        <ul class="list-group small reference-list" data-url="{{ path('admin_article_list_references', { id: article.id }) }}"></ul>

        <hr>

        <form action="{{ path('admin_article_add_reference', { id: article.id })}}" 
            method="POST" 
            enctype="multipart/form-data"
            class="dropzone reference-dropzone"></form>
    </div>
</div>
{% endblock %}