{% extends 'article_admin/_base.html.twig' %}

{% block content_body %}
    <h1>Dodaj nowy Artykuł!</h1>

    {{ include('article_admin/_form.html.twig', {
            button_text: 'Utwórz'
        }) }}
{% endblock %}