<span class="btn-x">
    <span class="btn-x_middle"></span>
</span>

<nav class="nav btn-x_content {{ app.session.flashbag.peek('success')|length > 0 ? '' : 'mb-1' }}">
    <ol class="nav-list">  
        <li class="nav-left logo">
            <a href="{{ path('app_homepage') }}">
                {% include "inc/logo.html.twig" %}
            </a>
        </li>
                
        <li class="nav-section dropdown">
            <a class="nav-link nav-bind" href="#" >Podopieczni
                <i class="caret-right"></i>
            </a>
            <ul class="nav-subsection dropdown-menu" data-toggle="dropdown"> 
                <li class="nav-item">
                    <a class="nav-link" href="/animal-all-cat">Koty</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/animal-all-dog">Psy</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/animal-all-other">Inne zwierzęta</a>
                </li>   
            </ul>   
        </li>
        
        <li class="nav-section">
            <a class="nav-link nav-bind" href="/article-all" >Artykuły</a>
        </li>

        <li class="nav-section dropdown">
            <a class="nav-link nav-bind  a" href="#">Tak działamy
                <i class="caret-right"></i>
            </a>
            <ul class="nav-subsection dropdown-menu" data-toggle="dropdown"> 
                <li class="nav-item">
                    <a class="nav-link" href="/#about-us" id="about-us-link">O nas</a>
                </li>
                <li class="nav-item nav-section"> 
                    <a class="nav-link nav-bind" href="#">Procedura adopcyjna
                        <span class="icon icon-toggle">
                            <i class="right-arrow dropdown-nav"></i>
                        </span>                        
                    </a>
                    <ul class="nav-subsection nav-toggle dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" href="/s-wizyta-przedadopcyjna">Wizyta przedadopcyjna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s-umowa-adopcyjna">Umowa adopcyjna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s-ankieta-kot">Ankieta kot</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/s-ankieta-pies">Ankieta pies</a>
                        </li>
                    </ul>
                </li>
            </ul> 
        </li>

        <li class="nav-section dropdown">
            <a class="nav-link nav-bind" href="#">WSPIERAM FZN
                <i class="caret-right"></i>
            </a>
            <ul class="nav-subsection dropdown-menu" data-toggle="dropdown"> 
                <li class="nav-item">
                    <a class="nav-link" href="/#volunteering" id="volunteering-link">Wolontariat</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/s-domy-tymczasowe">Domy Tymczasowe</a>
                </li>
                <li class="nav-item"> 
                    <a class="nav-link" href="/#transfer" id="transfer-link">Przelewy na Fundację</a>
                </li>
            </ul> 
        </li>
        <li class="nav-section">
            <a class="nav-link nav-bind" href="/contact">Kontakt</a>
        </li>
        {% if is_granted('ROLE_USER') %}
      
        <div class="icon icon-nav nav-right">
            <a href="#right" class="icon-link modal-link">
                <i class="users-cog icon-avatar"></i>
            </a>
        </div>

        {% else %}
        <div class="icon icon-nav nav-right">        
            <a class="icon-link icon-facebook" href="https://facebook.com/FundacjaZwierzetaNiczyje/?ref=m_notif&notif_t=group_highlights" target="_blank" class="social-icon">
                    <i class="fab fa-facebook-square"></i>
            </a>                           
            <a class="icon-link icon-instagram" href="https://instagram.com/fundacja_zwierzeta_niczyje?utm_source=ig_profile_share&igshid=1joz9gcb9eiem" target="_blank" class="social-icon">
                <i class="fab fa-instagram"></i>
            </a>
            <a href="#right" class="icon-link modal-link">
                <i class="fa fa-user"></i>
            </a>
        </div>
        {% endif %}
    </ol>	     
</nav>	



