<div class="wrapper">
    <div class="arrow arrow-left">
        <div id="arrow-left">
            <i class="fas fa-angle-left"></i>
        </div>
    </div>

    <div id="slider" class="grid__slider">
        <div class="slide-content__quotation--hero">
            <p class="slide-content__quotation--hero-text-p">
                Czy wiesz, że zwierzęta potrzebują przyjaciół? Bądź ich bohaterem i adoptuj!
            </p>

            <a href="/animal-all" class="btn btn-outline-secondary">Adopcja</a>
            <a href="/#transfer" class="btn btn-outline-secondary">Dotacje</a>
        </div>
        <div class="slide slide-0">
            <div class="slide-content">
                <picture>
                    <source srcset="/build/images/slides/slide-0_1200.499bb5ce.jpg" media="(min-width: 1200px)">
                    <source srcset="/build/images/slides/slide-0_960.0e813b05.jpg" media="(min-width: 960px)">
                    <source srcset="/build/images/slides/slide-0_720.a608548f.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/slides/slide-0_480.d5ca2f78.jpg" alt="Slide-0" class="slide-content__img">
                </picture>

                <span class="slide-content__quotation slide-content__quotation-01">
                    <p class="slide-content__quotation--text slide-content__quotation--text-01">
                        <em>
                            <span class="words">„Jeśli</span>
                            <span class="words">kryzys</span>
                            <span class="words">ci</span>
                            <span class="words">zdrowie</span>
                            <span class="words">rujnuje</span>
                            <span class="words">lub</span>
                            <span class="words">zawiodła</span>
                            <span class="words">Cię</span>
                            <span class="words">bliska</span>
                            <span class="words">istota,<br></span>
                            <span class="words">to</span>
                            <span class="words">zrób</span>
                            <span class="words">to,</span>
                            <span class="words">co</span>
                            <span class="words">niewiele</span>
                            <span class="words">kosztuje:</span>
                            <span class="words">weź</span>
                            <span class="words">kota."</span><br/>
                            <span class="words slide-content__quotation--author slide-content__quotation--author-01">Franciszek J.Klimek</span>
                        </em>
                    </p>
                   
                </span>
            </div>
        </div>

        <div class="slide slide-1">
            <div class="slide-content">
                <picture>
                    <source srcset="/build/images/slides/slide-1_1200.9f34bb93.jpg" media="(min-width: 1200px)">
                    <source srcset="/build/images/slides/slide-1_960.7fe2c804.jpg" media="(min-width: 960px)">
                    <source srcset="/build/images/slides/slide-1_720.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/slides/slide-1_480.03c1cd3c.jpg" alt="Slide-1" class="slide-content__img">
                </picture>
                <span class="slide-content__quotation slide-content__quotation-02">
                    <p class="slide-content__quotation--text slide-content__quotation--text-02">
                        <em>
                            <span class="words">„Ludzie,</span>
                            <span class="words">którzy</span>
                            <span class="words">nie</span>
                            <span class="words">lubią</span>
                            <span class="words">kotów, <br></span>
                            <span class="words">widocznie</span>
                            <span class="words">jeszcze<br></span>
                            <span class="words">nie</span>
                            <span class="words">spotkali</span>
                            <span class="words">tego<br></span>
                            <span class="words">właściwego."</span><br/>
                            <span class="words slide-content__quotation--author slide-content__quotation--author-02"><strong>Anonim</strong></span>
                        </em>
                    </p>
                </span>
            </div>
        </div>

        <div class="slide slide-2">
            <div class="slide-content">
                <picture>
                    <source srcset="/build/images/slides/slide-2_1200.c0ba88bd.jpg" media="(min-width: 1200px)">
                    <source srcset="/build/images/slides/slide-2_960.166de291.jpg" media="(min-width: 960px)">
                    <source srcset="/build/images/slides/slide-2_720.2d811d96.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/slides/slide-2_480.54e7d71b.jpg" alt="Slide-2" class="slide-content__img">
                </picture>
                <span class="slide-content__quotation slide-content__quotation-03">
                    <p class="slide-content__quotation--text slide-content__quotation--text-03">
                        <em>
                            <span class="words">„Mylić</span>
                            <span class="words">się</span>
                            <span class="words">jest</span>
                            <span class="words">rzeczą</span>
                            <span class="words">ludzką,</span>
                            <span class="words">wybaczać</span>
                            <span class="words">- psią”</span><br/>
                            <span class="words slide-content__quotation--author slide-content__quotation--author-03"><strong>Kornel Makuszyński</strong></span>
                        </em>
                    </p>           
                </span>
            </div>
        </div>

        <div class="slide slide-3">
            <div class="slide-content">
                <picture>
                    <source srcset="/build/images/slides/slide-3_1200.39df3772.jpg" media="(min-width: 1200px)">
                    <source srcset="/build/images/slides/slide-3_960.9aae25fa.jpg" media="(min-width: 960px)">
                    <source srcset="/build/images/slides/slide-3_720.fc6cac83.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/slides/slide-3_480.17b62097.jpg" alt="Slide-3" class="slide-content__img">
                </picture>
                <span class="slide-content__quotation slide-content__quotation-04">
                    <p class="slide-content__quotation--text slide-content__quotation--text-04">
                        <em>
                            <span class="words">„Wielcy</span>
                            <span class="words">ludzie</span>
                            <span class="words">mają</span>
                            <span class="words">zazwyczaj</span>
                            <span class="words">tak</span>
                            <span class="words">wielkie</span>
                            <span class="words">serce,<br></span>
                            <span class="words">że</span>
                            <span class="words">się<br></span>
                            <span class="words">w</span>
                            <span class="words">nich</span>
                            <span class="words">zawsze </span>
                            <span class="words">znajdzie</span>
                            <span class="words">miejsce<br></span>
                            <span class="words">dla</span>
                            <span class="words">uczciwego</span>
                            <span class="words">psa”</span><br/>
                            <span class="words slide-content__quotation--author slide-content__quotation--author-04"><strong>Albert Schweitzer</strong></span>
                        </em>
                    </p>
                </span>
            </div>
        </div>

        <div class="slide slide-4">
            <div class="slide-content">
                <picture>
                    <source srcset="/build/images/slides/slide-4_1440.03885c1d.jpg" media="(min-width: 1440px)">
                    <source srcset="/build/images/slides/slide-4_1200.3bde2826.jpg" media="(min-width: 1200px)">
                    <source srcset="/build/images/slides/slide-4_960.a9086717.jpg" media="(min-width: 960px)">
                    <source srcset="/build/images/slides/slide-4_720.f48b2089.jpg" media="(min-width: 720px)">
                    <img srcset="/build/images/slides/slide-4_480.3f9d32dc.jpg" alt="Slide-4" class="slide-content__img">
                </picture>
                <span class="slide-content__quotation slide-content__quotation-05">
                    <p class="slide-content__quotation--text slide-content__quotation--text-05">
                        <em>
                            <span class="words">„Istnieją</span>
                            <span class="words">dwa</span>
                            <span class="words">sposoby</span>
                            <span class="words">ucieczki <br></span>
                            <span class="words">od <br></span>
                            <span class="words">prozy</span>
                            <span class="words">życia:<br></span>
                            <span class="words">muzyka</span>
                            <span class="words">i</span>
                            <span class="words">koty."</span><br/>
                            <span class="words slide-content__quotation--author slide-content__quotation--author-05"><strong>Deborah A.Edwards</strong></span>
                        </em>
                    </p>
                </span>
            </div>
        </div>
    </div>

    <div class="arrow arrow-right">
        <div id="arrow-right">
            <i class="fas fa-angle-right"></i>
        </div>
    </div>
</div>