.nav { 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;	
	background-color: rgba($mainWhite, 0.9);
	border-bottom: 2px solid $mainLithCyan;
	transition: all 1.5s ease-in-out;
	scroll-behavior: auto;
	
	@include atSmall {
		background-color: rgba($mainWhite, 0.5);
		padding-top: 1em;
	}

	@include atMedium {
		padding-top: 1em;
	}

	@include atLarge {
		padding-top: 2em;
	}

	&-sticky { 
    	@include atSmall {
	 		background-color: rgba($mainDark, 0.5);
	 		border-bottom: 2px solid $mainCyan;
			padding-top: 0; 
		}
		 
		& a.nav-bind {
			color: $mainLithCyan;
		}
	}

	&-list {
		position: relative;
		width: 100%;
		list-style-type: none;
		line-height: 200%;
		padding-left: 0;
		
		@include clearfix;

		@include atSmall {
			height: 1em;
			display: inline-block;
			padding-left: 30px;
		}

		@include atMedium {
			height: 1.5em;
		}

	  @include atLarge {
			height: 2em;
		}
	}

	&-left {
		float: left;
	}

	&-right {
		float: right;
	}

	&-section {
		width: 100%;		
		font-size: 0.8rem;
		margin-left: auto;
		margin-right: auto;	
		letter-spacing: 1px;
		display: inline-block;
		text-align: center;	
			
		@include atSmall {
			width: 120px;
			font-size: 0.6rem;
			float: left;
		}

		@include atMedium {
			width: 130px;
			font-size: 0.7rem;
		}

		@include atLarge {	
			width: 160px;
			font-size: 0.8rem;
		}	
		
		& .nav-bind {
			color: $mainDarkCyan;
			transition: all 0.2s ease-in-out;		
		}

		&:hover .nav-bind {
			color: $mainOrange;
			background-color: rgba($mainDarkBlue, 1);
			border: 1px solid ;
			
			&:hover .dropdown-nav {
				color: rgba($mainOrange, 1);
				transform: translateY(-100%) translateX(150%) scale(1.5) ;
				right: 0;  	
			}
		}

		&:hover > ul {
			@include atMedium {
				display: block;	
			}
		}
	}

	&-subsection {
		width: 100%;		
		list-style-type: none;
		padding-inline-start: 0;
		margin: 0;
		display: none;
		background-color: rgba($mainDark, 0);
	}

	&-link {
		font-weight: 700;
		color: $mainCyan;
		text-align: match-parent;
		box-sizing: content-box;
		width: auto;
		height: auto;
		display: block;
		cursor: pointer;
		
		&:hover {
			background-color: rgba($mainDarkCyan, 1);
			border: 1px solid ;
			color: $mainOrange;

			@include atSmall {
				background-color: rgba($mainDarkBlue, 1);
			}
		}

		@include atSmall {
			padding: 2px;
		}

		@include atMedium {
			padding: 3px;
		}

		@include atLarge {
			padding: 5px;
		}
	}

	&-item {
		position: relative;
		letter-spacing: 2px;
		width: 100%;
		background-color: rgba($mainDark, 0.7);
		border: 1px  solid ;
		margin-bottom: 1px;

		a {
			color: $mainCyan;
		}

		@include atSmall {
			width: 120px;	
		}

		@include atMedium {
			width: 130px;
			margin-bottom: 2px;	
		}

		@include atLarge {
			width: 160px;
		}
	}

	&-toggle {
		list-style-type: none;
		display: block;
		padding-inline-start: 2px;

		@include atSmall {
			display: none;
			position: absolute;
			transform: translateX(100%) translateY(-40%);
		}

		@include atMedium {
			transform: translateX(100%) translateY(-43%);
		}
		
		@include atLarge {
			transform: translateX( calc(100% - 4px)) translateY(calc(-30% - 4px));
		}

	}
}

.fa-caret-right {
	display: inline;

	@include atSmall {
		display: none;
	}
}