.nav { 
	position: sticky;
	top: -1px;
	left: 0;
	width: 100%;	
	background-color: rgba($mainWhite, .7);
	border-bottom: 2px solid $mainLithCyan;
	transition: all 1.5s ease-in-out;		
	
	@include atMedium {
		padding-top: 1em;
	}

	@include atLarge {
		padding-top: 2em;
	}

	&-background-color {
		background-color: rgba($mainWhite, 1);
	}

	&-small {
		width: 100%;
		height: 50px;
		position: sticky;
		top: 0;
		left: 0;
		background-color: rgba($mainWhite, 1);
		
		@include atMedium {
			display: none;
		}
	}

	&-sticky { 
		@include atMedium {
	 		background-color: rgba($mainDarkBlue, 0.7);
	 		border-bottom: 2px solid $mainCyan;
			padding-top: 10px; 		
		}
		 
		& div.nav-bind, a.nav-bind {
			color: $mainDark;
			@include atSmall {
				color: darken($mainWhite, 20%);
			}
		}

		& li.nav-user__section {
			transform: translateY(3px);
		}
	}

	&-list {
		position: relative;
		width: 100%;
		list-style-type: none;
		line-height: 200%;
		padding-left: 0;
		
		@include clearfix;

		@include atSmall {
			height: 1em;
			display: inline-block;
			padding-left: 30px;
		}

		@include atMedium {
			height: 1.5em;
		}

	  	@include atLarge {
			height: 2em;
		}
	}

	&-left {
		float: left;
	}

	&-right {
		float: right;
	}

	&-section {
		width: 100%;		
		font-size: 0.8rem;
		margin-left: auto;
		margin-right: auto;	
		letter-spacing: 1px;
		display: inline-block;
		text-align: center;	
			
		@include atSmall {
			width: 120px;
			font-size: 0.6rem;
			float: left;
		}

		@include atMedium {
			width: 130px;
			font-size: 0.7rem;
		}

		@include atLarge {	
			width: 160px;
			font-size: 0.8rem;
		}	
		
		& .nav-bind {
			color: $mainDarkCyan;
			transition: all 0.3s ease-in-out;		
		}

		&:hover .nav-bind {
			color: $mainOrange;
			background-color: rgba($mainDarkBlue, 1);
			border: 1px solid ;
			
			&:hover .dropdown-nav {
				color: rgba($mainOrange, 1);
				transform: translateY(-100%) translateX(150%) scale(1.5) ;
				right: 0;  	
			}
		}

		&:hover > ul {
			@include atMedium {
				display: block;	
			}
		}
	}

	&-subsection {
		width: 100%;		
		list-style-type: none;
		padding-inline-start: 0;
		margin: 0;
		display: none;
		background-color: rgba($mainDark, 0);
		text-align: center;	
		border: none;
	}

	&-link {
		font-weight: 700;
		color: $mainCyan;
		text-align: match-parent;
		box-sizing: content-box;
		width: auto;
		height: auto;
		display: block;
		cursor: pointer;
		
		&:hover {
			background-color: rgba($mainDarkCyan, 1);
			border: 1px solid ;
			color: $mainOrange;

			@include atSmall {
				background-color: rgba($mainDarkBlue, 1);
			}
		}

		@include atSmall {
			padding: 2px;
		}

		@include atMedium {
			padding: 3px;
		}

		@include atLarge {
			padding: 5px;
		}
	}

	&-item {
		position: relative;
		letter-spacing: 2px;
		width: 100%;
		background-color: rgba($mainDark, 0.7);
		border: 1px  solid ;
		margin-bottom: 1px;

		a {
			color: $mainCyan;
		}

		@include atSmall {
			width: 120px;	
		}

		@include atMedium {
			width: 130px;
			margin-bottom: 2px;	
		}

		@include atLarge {
			width: 160px;
		}
	}

	&-toggle {
		list-style-type: none;
		display: block;
		padding-inline-start: 2px;

		@include atMedium {
			display: none;
			position: absolute;
			transform: translateX(100%) translateY(-43%);
		}
		
		@include atLarge {
			transform: translateX( calc(100% + 2px)) translateY(-77px);
		}
	}

	&-user {
		&__section {
			position: fixed;
			top: 50px;
			right: -40%;
			cursor: pointer;
			transition: all 1.5s ease-in;

			@include atSmall {
				position: absolute;
				right: 0px;
				top: -40px;
			}

			@include atMedium {
				top: 0;
				right: 0;
				transform: translateY(-10px);
			}
		}

		&__subsection {
			width: 300px;
			position: absolute;
			top: 0;
			right: 0;
			transform: translateX(80px);
		
			&--content {
				position: relative;	
				top: 20px;
				background-color: rgba($mainDarkBlue, 0.7);
				transform: translateY(50px);
			}
		}

		&__profile {
			width: 90%;
			height: 60px;
			position: relative;
			color: $mainLithCyan;
			border-bottom: 1px solid $mainCyan;
			
			&-avatar {
				top: 0;
				transform: translateY(-10px);
				color: $mainLithCyan;
				z-index: 22;
			}
		}
		

		&__list {	
			list-style-type: none;
			line-height: 200%;
			padding-left: 0;
			
			&--ul {
				width: 90%;
				position: relative;
				margin-top: 10px;

			}

			&--li {
				text-align: center;
				margin: 5px 0;
				width: 100%;
				cursor: pointer;
				// padding: 20px;
			}
		}
		
		&__social {
			text-align: center;
			padding-top: 5px;
		}
	}
}

.fa-caret-right {
	display: inline;

	@include atSmall {
		display: none;
	}
}
